* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #fff;
    padding-top: 10px;
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#contact h1 {
    color: #fff;
}

#contact form {
    padding: 2rem;
}

#contact label {
    color: #fff;
}

#contact input,
#contact textarea {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 1rem;
    width: 100%;
}

#contact button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
}

#contact button[type="submit"]:hover {
    background-color: #444;
}

.text-center{
    text-align: center;
    font-size: 30px;
}

.center-btn{
    width: 100px;
    margin: 0 auto;
}

a {
    color: rgb(216, 216, 216);
    text-decoration: none;
}

/* img {
    max-width: 50px;
    max-height: 50px;
} */

header {
    background-color: black;
    height: 50px;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    /* margin: 10px; */
}

nav ul li a{
    font-size: 20px;
    color: tomato;
}

.nav1-text{
    width: 100px;
}
.nav1-btn {
    font-size: 20px;
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    color: rgb(201, 201, 201);
}

.nav1-btn:after {
    content: "";
    position: absolute;
    /* background-color: tomato; */
    height: 3px;
    width: 0;    
    bottom: -8px;
    left: 0;
    transition: 0.3s;
}

.nav1-btn:hover {
    color: rgb(255, 255, 255);
}

.nav1-btn:hover:after{
    width: 100%;
}